<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/styles/header.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/footer.css')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/main.css')}}">
    </head>
    <body>
        <header>
            <div class="header_top_wrap">
                <img class= "header_logo" src="{{ asset('assets/images/alfa-bank-logo.jpg')}}"  alt="Логотип Альфа-Банк" />
                <div class="header_text_wrap">
                    <p class = "header_text">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            Добро пожаловать, {{ app.user.username }}
                        {% else %}
                            Добро пожаловать!
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="split_line">
            </div>

            <div class="auth_wrap">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="/logout" class="auth_link">Выйти</a>
                {% else %}
                    <a href="/register" class="auth_link">Зарегистрироваться!</a>
                    <a href="/login" class="auth_link">Войти</a>
                {% endif %}
            </div>
    </header>

        {% block body %}{% endblock %}
        <footer>
            <p class = "footer_text">
                Created by Aleksey Chepurko
            </p>
        </footer>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
