{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="/pay/send" class="pay_form">
                <input class=""  type="number" name="user_id" required disabled value="{{ app.user.id | default('-1')}}">    
                <div class="pay_wrap">
                    <div class="choose_pay_way_text">
                        Выберите предполагаемый способ оплаты, с помощью которого был произведен платеж:
                    </div>
                    <label for="mobile">
                        <input class="hidden_block" id="mobile" type="radio" name="pay_way" value="Mobile" checked>
                        <div class="pay_way">
                            <div class="pay_way_text">
                                С помощью мобильного банка
                            </div>
                            
                            <img src="{{ asset('assets/images/mobile.png') }}" alt="" class="pay_way_image">
                        </div>
                    </label>

                    <label for="internet">
                        <input class="hidden_block" id="internet" type="radio" name="pay_way" value="Internet">
                        <div class="pay_way">
                            <div class="pay_way_text">
                                С помощью интернет банка
                            </div>
                            
                            <img src="{{ asset('assets/images/internet.png') }}" alt="" class="pay_way_image">
                        </div>
                    </label>

                    <label for="atm">
                        <input class="hidden_block" id="atm" type="radio" name="pay_way" value="Atm">
                        <div class="pay_way">
                            <div class="pay_way_text">
                                С помощью банкомата
                            </div>
                            
                            <img src="{{ asset('assets/images/atm.png') }}" alt="" class="pay_way_image">
                        </div>
                    </label>
                </div>
                
                <div class="pay_sum">
                    <input type="number"  name="pay_sum" min="0" placeholder="Введите сумму платежа" required="true" autofocus>
                </div>
        
                <button class="send_pay_btn">
                    <span class="send_pay_text">Эмулировать</span>
                </button>

                <div class="response_text">
                    
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/styles/index.css')}}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}